@import "tailwindcss";

:root {
    /* Background */
    --violet-1: #fcfdff;
    --violet-2: #f6f9ff;

    /* Interactive components */
    --violet-3: #ebf2ff;
    --violet-4: #dde9ff;
    --violet-5: #cddeff;
    /* Borders and separators */

    --violet-6: #bbd0ff;
    --violet-7: #a2bcff;
    --violet-8: #81a0ff;
    /* Solid colors */
    --violet-9: #2f21f2;
    --violet-10: #2900df;

    /* Accessible text */
    --violet-11: #3846f1;
    --violet-12: #1b276e;

    --violet-a1: #0055ff03;
    --violet-a2: #0055ff09;
    --violet-a3: #005aff14;
    --violet-a4: #005aff22;
    --violet-a5: #0057ff32;
    --violet-a6: #004fff44;
    --violet-a7: #0048ff5d;
    --violet-a8: #003fff7e;
    --violet-a9: #1000f0de;
    --violet-a10: #2900df;
    --violet-a11: #0012edc7;
    --violet-a12: #000d5de4;
    --violet-contrast: #fff;
    --violet-surface: #f4f8ffcc;
    --violet-indicator: #2f21f2;
    --violet-track: #2f21f2;

    /* Background */
    --gray-1: #fdfdfd;
    --gray-2: #f9f9f9;

    /* Interactive components */
    --gray-3: #f0f0f0;
    --gray-4: #e8e8e8;
    --gray-5: #e1e1e1;

    /* Borders and separators */
    --gray-6: #d9d9d9;
    --gray-7: #cecece;
    --gray-8: #bbb;

    /* Solid colors */
    --gray-9: #8d8d8d;
    --gray-10: #828282;

    /* Accessible text */
    --gray-11: #636363;
    --gray-12: #202020;

    --gray-a1: #00000002;
    --gray-a2: #00000006;
    --gray-a3: #0000000f;
    --gray-a4: #00000017;
    --gray-a5: #0000001e;
    --gray-a6: #00000026;
    --gray-a7: #00000031;
    --gray-a8: #00000044;
    --gray-a9: #00000072;
    --gray-a10: #0000007d;
    --gray-a11: #0000009c;
    --gray-a12: #000000df;

    --gray-contrast: #ffffff;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8d8d8d;
    --gray-track: #8d8d8d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #101010;
        --foreground: #fafafa;

        --violet-1: #0a0f20;
        --violet-2: #10162c;
        --violet-3: #151f57;
        --violet-4: #1a2677;
        --violet-5: #222f8c;
        --violet-6: #2a3a9f;
        --violet-7: #3346b5;
        --violet-8: #3b51d5;
        --violet-9: #2f21f2;
        --violet-10: #2900df;
        --violet-11: #95b1ff;
        --violet-12: #d1e0ff;

        --violet-a1: #0002f312;
        --violet-a2: #1143fe1e;
        --violet-a3: #2143ff4c;
        --violet-a4: #2843ff6e;
        --violet-a5: #324bfe85;
        --violet-a6: #3c56ff99;
        --violet-a7: #425efeb1;
        --violet-a8: #445efed3;
        --violet-a9: #3022fef2;
        --violet-a10: #2d00ffdd;
        --violet-a11: #95b1ff;
        --violet-a12: #d1e0ff;

        --violet-contrast: #fff;
        --violet-surface: #101c4880;
        --violet-indicator: #2f21f2;
        --violet-track: #2f21f2;

        --gray-1: #101010;
        --gray-2: #191919;
        --gray-3: #232323;
        --gray-4: #2a2a2a;
        --gray-5: #313131;
        --gray-6: #3a3a3a;
        --gray-7: #484848;
        --gray-8: #616161;
        --gray-9: #6f6f6f;
        --gray-10: #7c7c7c;
        --gray-11: #b4b4b4;
        --gray-12: #eee;

        --gray-a1: #00000000;
        --gray-a2: #ffffff0a;
        --gray-a3: #ffffff14;
        --gray-a4: #ffffff1c;
        --gray-a5: #ffffff23;
        --gray-a6: #ffffff2d;
        --gray-a7: #ffffff3c;
        --gray-a8: #ffffff56;
        --gray-a9: #ffffff65;
        --gray-a10: #ffffff73;
        --gray-a11: #ffffffaf;
        --gray-a12: #ffffffed;

        --gray-contrast: #ffffff;
        --gray-surface: rgba(0, 0, 0, 0.05);
        --gray-indicator: #6f6f6f;
        --gray-track: #6f6f6f;
    }
}

:root {
    --foreground: #101010;
    --foreground-hover: var(--gray-12);
    --foreground-muted: #b0b0b0;

    --primary: var(--violet-9);
    --ring: var(--violet-1);
    --outline: var(--violet-9);

    /* 메인 배경 */
    --background: #ffffff;
    /* 서브 배경(주 컴포넌트) */
    --background-surface: var(--gray-3);
    --background-surface: var(--gray-4);
    /* 기타 배경(애매한 컴포넌트) */
    --background-subtle: var(--gray-5);
    --background-subtle-hover: var(--gray-6);
    /* 메인 경계 */
    --border: var(--gray-6);
    /* 서브 경계(주 컴포넌트) */
    --border-surface: var(--gray-7);
    /* 기타 경계(애매한 컴포넌트) */
    --border-subtle: var(--gray-8);

    /* 기본 배경 */
    --outer-container-background: #fafafa;
    /* 우측 컨테이너 배경 */
    --inner-container-background: var(--background);

    /* 사이드 패널 */
    --sidepanel-background: var(--background-surface);
    --sidepanel-border: var(--border);

    /* 사이드 바 */
    --sidebar-background: var(--background-surface);
    --sidebar-border: var(--border-surface);

    --sidebar-width-min: 64px;
    --sidebar-width-max: 240px;

    /* 텍스트 영역 */
    --textarea-foreground: var(--foreground);
    --textarea-foreground-muted: var(--foreground-muted);
    --textarea-background: var(--background-surface);
    --textarea-border: var(--border-surface);
    --textarea-ring: var(--ring);
    --textarea-option-border: var(--border-subtle);

    /* 인풋 */
    --input-foreground: var(--foreground);
    --input-foreground-muted: var(--foreground-muted);
    --input-background: var(--background-surface);
    --input-border: var(--border-surface);
    --input-ring: var(--ring);
    --input-outline: var(--outline);

    /* 셀렉트 */
    --select-foreground: var(--foreground);
    --select-foreground-muted: var(--foreground-muted);
    --select-background: var(--background-surface);
    --select-border: var(--border-surface);
    --select-ring: var(--ring);
    --select-option-background: var(--background-subtle);
    --select-option-background-hover: var(--background-subtle-hover);
    --select-option-border: var(--border-subtle);

    /* 라디오 셀렉트 */
    --radiofield-foreground: var(--foreground);
    --radiofield-foreground-muted: var(--foreground-muted);
    --radiofield-background: var(--background-surface);
    --radiofield-background-hover: var(--background-surface-hover);
    --radiofield-border: var(--border-surface);
    --radiofield-ring: var(--ring);

    --dropdown-background: #e9e6e6;
    --dropdown-foreground: var(--foreground);
    --dropdown-border: var(--border-surface);

    /* 스크롤 바 */
    --scrollbar-background-thumb: #dddddd;
    --scrollbar-background-track: #f2f2f2;

    /* 테이블 */
    --table-background: var(--background);
    --table-header-background: var(--gray-2);
    --table-border: var(--border-surface);

    /* 버튼 */
    --btn-background-primary: var(--violet-9);
    --btn-background-secondary: #64f2b7;

    --btn-background-default: #fafafa;
    --btn-background-default-hover: var(--gray-1);
    --btn-background-outline: var(--background-surface);
    --btn-background-outline-hover: var(--background-subtle);

    --btn-foreground-default: var(--foreground);
    --btn-foreground-primary: var(--foreground);
    --btn-foreground-secondary: var(--foreground);
    --btn-foreground-outline: var(--foreground);

    --btn-border-outline: var(--border-surface);

    /* 폼 */
    --form-background: var(--background);
    --form-border: var(--border-surface);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* 시멘틱 */
        --background: #000000;
        --foreground: #ededed;

        --primary: var(--violet-9);
        --ring: var(--violet-1);
        --outline: var(--violet-9);

        /* 인풋, 셀렉트 등 배경 */
        --background-surface: var(--gray-1);
        --background-surface-hover: var(--gray-2);

        /* 인풋, 셀렉트 등 보조 배경 */
        --background-subtle: var(--gray-3);
        --background-subtle-hover: var(--gray-4);

        --foreground: #dfdfdf;
        --foreground-hover: var(--gray-11);
        --foreground-muted: var(--gray-9);

        /* 사이드 바, 테이블 경계 */
        --border: var(--gray-1);

        /* 인풋, 셀렉트 등 경계 */
        --border-surface: var(--gray-3);

        /* 인풋, 셀렉트 등 보조 경계 */
        --border-subtle: var(--gray-6);

        --outer-container-background: #101010;
        /* 우측 컨테이너 배경 */
        --inner-container-background: var(--background);

        /* 사이드 패널 */
        --sidepanel-background: #181818;
        --sidepanel-border: var(--border-surface);

        /* 사이드 바 */
        --sidebar-background: var(--background-surface);
        --sidebar-border: var(--border-surface);

        /* 텍스트 영역 */
        --textarea-foreground: var(--foreground);
        --textarea-foreground-muted: var(--foreground-muted);
        --textarea-background: var(--background-surface);
        --textarea-border: var(--border-surface);
        --textarea-ring: var(--ring);
        --textarea-option-border: var(--border-subtle);

        /* 인풋 */
        --input-foreground: var(--foreground);
        --input-foreground-muted: var(--foreground-muted);
        --input-background: var(--background-surface);
        --input-border: var(--border-surface);
        --input-ring: var(--ring);
        --input-outline: var(--outline);

        /* 셀렉트 */
        --select-foreground: var(--foreground);
        --select-foreground-muted: var(--foreground-muted);
        --select-background: var(--background-surface);
        --select-border: var(--border-surface);
        --select-ring: var(--ring);
        --select-option-background: var(--background-subtle);
        --select-option-background-hover: var(--background-subtle-hover);
        --select-option-border: var(--border-subtle);

        /* 라디오 셀렉트 */
        --radiofield-foreground: var(--foreground);
        --radiofield-foreground-muted: var(--foreground-muted);
        --radiofield-background: var(--background-surface);
        --radiofield-background-hover: var(--background-surface-hover);
        --radiofield-border: var(--border-surface);
        --radiofield-ring: var(--ring);

        /* 드롭다운 */
        --dropdown-background: #151515;
        --dropdown-foreground: var(--foreground);
        --dropdown-border: var(--border-surface);

        /* 스크롤 바 */
        --scrollbar-background-thumb: #1f1f1f;
        --scrollbar-background-track: #101010;

        /* 테이블 */
        --table-background: var(--background);
        --table-header-background: var(--background-surface);
        --table-border: var(--border-surface);

        /* 버튼 */
        --btn-background-default: #101010;
        --btn-background-default-hover: var(--gray-1);
        --btn-background-outline: var(--background-surface);
        --btn-background-outline-hover: var(--background-subtle);

        --btn-foreground-default: var(--foreground);
        --btn-foreground-primary: var(--foreground);
        --btn-foreground-secondary: var(--foreground);
        --btn-foreground-outline: var(--foreground);

        --btn-border-outline: var(--border-surface);

        /* 폼 */
        --form-background: var(--background);
        --form-border: var(--border-surface);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Pretendard", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    background: none;
    /* display: none; */
}

::-webkit-scrollbar-corner {
    background-color: var(--background);
    /* 투명하게 만들거나 */
    /* display: none; */
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-background-thumb);
    /* display: none; */
    /* display: none; */
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background-track);
    /* display: none; */
    /* display: none; */
}

/* 유틸리티: 세로 스크롤바 숨김 (가로 스크롤바는 유지) */
.scrollbar-hide-vertical::-webkit-scrollbar:vertical {
    display: none;
}

/* 유틸리티: 가로 스크롤바 숨김 (세로 스크롤바는 유지) */
.scrollbar-hide-horizontal::-webkit-scrollbar:horizontal {
    display: none;
}

* {
    overscroll-behavior-x: none;
}
