@import "tailwindcss";

:root {
    --teal-1: #f3f9f8;
    --teal-2: #ecf6f4;
    --teal-3: #d4f3ee;
    --teal-4: #bceee6;
    --teal-5: #a4e6dc;
    --teal-6: #8adace;
    --teal-7: #68cabc;
    --teal-8: #1cb5a6;
    --teal-9: #36c4b4;
    --teal-10: #23b9a9;
    --teal-11: #007367;
    --teal-12: #0c443e;

    --teal-a1: #1bdbbb08;
    --teal-a2: #0db7950f;
    --teal-a3: #02cdac27;
    --teal-a4: #03cbab40;
    --teal-a5: #01c0a358;
    --teal-a6: #02b49973;
    --teal-a7: #00a89095;
    --teal-a8: #01ad9ce3;
    --teal-a9: #00b5a1c8;
    --teal-a10: #01af9ddc;
    --teal-a11: #007367;
    --teal-a12: #003b34f3;

    --teal-contrast: #fff;
    --teal-surface: #e9f5f3cc;
    --teal-indicator: #36c4b4;
    --teal-track: #36c4b4;

    --gray-1: #f6f6f7;
    --gray-2: #f3f3f3;
    --gray-3: #e9e9ea;
    --gray-4: #e1e1e2;
    --gray-5: #d9d9da;
    --gray-6: #d1d1d2;
    --gray-7: #c6c6c7;
    --gray-8: #b3b3b4;
    --gray-9: #868687;
    --gray-10: #7b7b7d;
    --gray-11: #5d5d5f;
    --gray-12: #202021;

    --gray-a1: #2f2f6205;
    --gray-a2: #00000007;
    --gray-a3: #0a0a1812;
    --gray-a4: #04040e1a;
    --gray-a5: #03030a22;
    --gray-a6: #0202082a;
    --gray-a7: #05050a36;
    --gray-a8: #02020649;
    --gray-a9: #02020477;
    --gray-a10: #00000482;
    --gray-a11: #020205a1;
    --gray-a12: #010102df;

    --gray-contrast: #ffffff;
    --gray-surface: #ffffffcc;
    --gray-indicator: #868687;
    --gray-track: #868687;
}

@media (prefers-color-scheme: dark) {
    :root {
        --teal-1: #121918;
        --teal-2: #131e1c;
        --teal-3: #102e2a;
        --teal-4: #053b35;
        --teal-5: #0c4741;
        --teal-6: #19564f;
        --teal-7: #24685f;
        --teal-8: #2b7e74;
        --teal-9: #36c4b4;
        --teal-10: #23b9a9;
        --teal-11: #4cd4c4;
        --teal-12: #bbf3ea;

        --teal-a1: #00c16c03;
        --teal-a2: #00f7b708;
        --teal-a3: #00f9d21a;
        --teal-a4: #00fdd728;
        --teal-a5: #00fee235;
        --teal-a6: #1efde346;
        --teal-a7: #3cfde35a;
        --teal-a8: #44fde772;
        --teal-a9: #40fee8bf;
        --teal-a10: #28fee7b3;
        --teal-a11: #58ffebd0;
        --teal-a12: #c4fff6f2;

        --teal-contrast: #fff;
        --teal-surface: #10252180;
        --teal-indicator: #36c4b4;
        --teal-track: #36c4b4;

        --gray-1: #171717;
        --gray-2: #1d1d1d;
        --gray-3: #252525;
        --gray-4: #2b2b2b;
        --gray-5: #323232;
        --gray-6: #3a3a3a;
        --gray-7: #484848;
        --gray-8: #606060;
        --gray-9: #6d6d6d;
        --gray-10: #7a7a7a;
        --gray-11: #b3b3b3;
        --gray-12: #ededed;

        --gray-a1: #00000000;
        --gray-a2: #ffffff07;
        --gray-a3: #ffffff0f;
        --gray-a4: #ffffff16;
        --gray-a5: #ffffff1e;
        --gray-a6: #ffffff26;
        --gray-a7: #ffffff36;
        --gray-a8: #ffffff50;
        --gray-a9: #ffffff5f;
        --gray-a10: #ffffff6d;
        --gray-a11: #ffffffab;
        --gray-a12: #ffffffeb;

        --gray-contrast: #ffffff;
        --gray-surface: rgba(0, 0, 0, 0.05);
        --gray-indicator: #6d6d6d;
        --gray-track: #6d6d6d;
    }
}

:root {
    --primary: var(--teal-9);
    --ring: var(--teal-1);
    --outline: var(--teal-9);
    
    /* 시멘틱 */ 
    --background: #f7f7f7;

    /* 인풋, 셀렉트 등 배경 */
    --background-surface: var(--gray-2);
    --background-surface-hover: var(--gray-3);

    /* 인풋, 셀렉트 등 보조 배경 */
    --background-subtle: var(--gray-3);
    --background-subtle-hover: var(--gray-4);

    --foreground: var(--gray-12);
    --foreground-hover: var(--gray-12);
    --foreground-muted: var(--gray-9);

    /* 사이드 바, 테이블 경계 */
    --border: var(--gray-6);

    /* 인풋, 셀렉트 등 경계 */
    --border-surface: var(--gray-7);

    /* 인풋, 셀렉트 등 보조 경계 */
    --border-subtle: var(--gray-6);

    /* 사이드 패널 */
    --sidepanel-background: var(--background-surface);
    --sidepanel-border: var(--border);

    /* 사이드 바 */
    --sidebar-background: var(--background-surface);
    --sidebar-border: var(--border-surface);

    --sidebar-width-min: 64px;
    --sidebar-width-max: 240px;

    /* 텍스트 영역 */
    --textarea-foreground: var(--foreground);
    --textarea-foreground-muted: var(--foreground-muted);
    --textarea-background: var(--background-surface);
    --textarea-border: var(--border-surface);
    --textarea-ring: var(--ring);
    --textarea-option-border: var(--border-subtle);

    /* 인풋 */
    --input-foreground: var(--foreground);
    --input-foreground-muted: var(--foreground-muted);
    --input-background: var(--background-surface);
    --input-border: var(--border-surface);
    --input-ring: var(--ring);
    --input-outline: var(--outline);

    /* 셀렉트 */
    --select-foreground: var(--foreground);
    --select-foreground-muted: var(--foreground-muted);
    --select-background: var(--background-surface);
    --select-border: var(--border-surface);
    --select-ring: var(--ring);
    --select-option-background: var(--background-subtle);
    --select-option-background-hover: var(--background-subtle-hover);
    --select-option-border: var(--border-subtle);

    /* 라디오 셀렉트 */
    --radiofield-foreground: var(--foreground);
    --radiofield-foreground-muted: var(--foreground-muted);
    --radiofield-background: var(--background-surface);
    --radiofield-background-hover: var(--background-surface-hover);
    --radiofield-border: var(--border-surface);
    --radiofield-ring: var(--ring);

    --dropdown-background: #e9e6e6;
    --dropdown-foreground: var(--foreground);
    --dropdown-border: var(--border-surface);

    /* 스크롤 바 */
    --scrollbar-background-thumb: #dddddd;
    --scrollbar-background-track: #f2f2f2;

    /* 테이블 */
    --table-background: var(--background);
    --table-header-background: var(--background-subtle);
    --table-border: var(--border-surface);

    /* 버튼 */
    --btn-background-primary: #3f33e1;
    --btn-background-secondary: #64f2b7;
    
    --btn-background-default: #fafafa;
    --btn-background-default-hover: var(--gray-1);
    --btn-background-outline: var(--background-surface);
    --btn-background-outline-hover: var(--background-subtle);

    --btn-foreground-default: var(--foreground);
    --btn-foreground-primary: var(--foreground);
    --btn-foreground-secondary: var(--foreground);
    --btn-foreground-outline: var(--foreground);

    --btn-border-outline: var(--border-surface);

    /* 폼 */
    --form-background: var(--background);
    --form-border: var(--border-surface);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--teal-9);
        --ring: var(--teal-1);
        --outline: var(--teal-9);

        /* 시멘틱 */
        --background: #000000;

        /* 인풋, 셀렉트 등 배경 */
        --background-surface: var(--gray-1);
        --background-surface-hover: var(--gray-2);

        /* 인풋, 셀렉트 등 보조 배경 */
        --background-subtle: var(--gray-3);
        --background-subtle-hover: var(--gray-4);

        --foreground: #dfdfdf;
        --foreground-hover: var(--gray-11);
        --foreground-muted: var(--gray-9);

        /* 사이드 바, 테이블 경계 */
        --border: var(--gray-1);

        /* 인풋, 셀렉트 등 경계 */
        --border-surface: var(--gray-3);

        /* 인풋, 셀렉트 등 보조 경계 */
        --border-subtle: var(--gray-6);

        /* 사이드 패널 */
        --sidepanel-background: #181818;
        --sidepanel-border: var(--border-surface);

        /* 사이드 바 */
        --sidebar-background: var(--background-surface);
        --sidebar-border: var(--border-surface);

        /* 텍스트 영역 */
        --textarea-foreground: var(--foreground);
        --textarea-foreground-muted: var(--foreground-muted);
        --textarea-background: var(--background-surface);
        --textarea-border: var(--border-surface);
        --textarea-ring: var(--ring);
        --textarea-option-border: var(--border-subtle);

        /* 인풋 */
        --input-foreground: var(--foreground);
        --input-foreground-muted: var(--foreground-muted);
        --input-background: var(--background-surface);
        --input-border: var(--border-surface);
        --input-ring: var(--ring);
        --input-outline: var(--outline);

        /* 셀렉트 */
        --select-foreground: var(--foreground);
        --select-foreground-muted: var(--foreground-muted);
        --select-background: var(--background-surface);
        --select-border: var(--border-surface);
        --select-ring: var(--ring);
        --select-option-background: var(--background-subtle);
        --select-option-background-hover: var(--background-subtle-hover);
        --select-option-border: var(--border-subtle);

        /* 라디오 셀렉트 */
        --radiofield-foreground: var(--foreground);
        --radiofield-foreground-muted: var(--foreground-muted);
        --radiofield-background: var(--background-surface);
        --radiofield-background-hover: var(--background-surface-hover);
        --radiofield-border: var(--border-surface);
        --radiofield-ring: var(--ring);

        /* 드롭다운 */
        --dropdown-background: #151515;
        --dropdown-foreground: var(--foreground);
        --dropdown-border: var(--border-surface);

        /* 스크롤 바 */
        --scrollbar-background-thumb: #1f1f1f;
        --scrollbar-background-track: #101010;

        /* 테이블 */
        --table-background: var(--background);
        --table-header-background: var(--background-surface);
        --table-border: var(--border-surface);

        /* 버튼 */
        --btn-background-default: #101010;
        --btn-background-default-hover: var(--gray-1);
        --btn-background-outline: var(--background-surface);
        --btn-background-outline-hover: var(--background-subtle);

        --btn-foreground-default: var(--foreground);
        --btn-foreground-primary: var(--foreground);
        --btn-foreground-secondary: var(--foreground);
        --btn-foreground-outline: var(--foreground);

        --btn-border-outline: var(--border-surface);

        /* 폼 */
        --form-background: var(--background);
        --form-border: var(--border-surface);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Pretendard", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    background: none;
    /* display: none; */
}

::-webkit-scrollbar-corner {
    background-color: var(--background);
    /* 투명하게 만들거나 */
    /* display: none; */
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-background-thumb);
    /* display: none; */
    /* display: none; */
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background-track);
    /* display: none; */
    /* display: none; */
}

/* 유틸리티: 세로 스크롤바 숨김 (가로 스크롤바는 유지) */
.scrollbar-hide-vertical::-webkit-scrollbar:vertical {
    display: none;
}

/* 유틸리티: 가로 스크롤바 숨김 (세로 스크롤바는 유지) */
.scrollbar-hide-horizontal::-webkit-scrollbar:horizontal {
    display: none;
}
