@import "tailwindcss";

:root {
    --sidebar-width-min: 64px;
    --sidebar-width-max: 240px;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Pretendard", Arial, Helvetica, sans-serif;
}


* {
    overscroll-behavior-x: none;
}
