:root {
    --header-height: 72px;

    --navigation-background: var(--background);
    --navigation-foreground: var(--foreground);
    --navigation-hover-background: #e1d8d8;
    --navigation-submenu-border: var(--border);
    --navigation-submenu-background: #f8f4f4;
    --navigation-submenu-description-foreground: #cbc1c1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --navigation-background: var(--background);
        --navigation-foreground: var(--foreground);
        --navigation-hover-background: #0f0f0f;
        --navigation-submenu-border: #302c2c;
        --navigation-submenu-background: #0d0c0c;
        --navigation-submenu-description-foreground: #3f3a3a;
    }
}


html,
body {
    height: 100%;
}

body {
    background-color: var(--background);
}